name: Build and Deploy

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: noisevisionproductions/nutrilog

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ghcr.io/${{ env.IMAGE_NAME }}/backend:latest

      - name: Create .env file for Frontend
        run: |
          echo "VITE_API_KEY=${{ secrets.VITE_API_KEY }}" > ./frontend/.env
          echo "VITE_AUTH_DOMAIN=${{ secrets.VITE_AUTH_DOMAIN }}" >> ./frontend/.env
          echo "VITE_PROJECT_ID=${{ secrets.VITE_PROJECT_ID }}" >> ./frontend/.env
          echo "VITE_STORAGE_BUCKET=${{ secrets.VITE_STORAGE_BUCKET }}" >> ./frontend/.env
          echo "VITE_MESSAGING_SENDER_ID=${{ secrets.VITE_MESSAGING_SENDER_ID }}" >> ./frontend/.env
          echo "VITE_APP_ID=${{ secrets.VITE_APP_ID }}" >> ./frontend/.env
          echo "VITE_FIREBASE_FUNCTIONS=${{ secrets.VITE_FIREBASE_FUNCTIONS }}" >> ./frontend/.env
          echo "VITE_API_URL=${{ secrets.VITE_API_URL }}" >> ./frontend/.env
          echo "SENDGRID_API_KEY=${{ secrets.SENDGRID_API_KEY }}" >> ./frontend/.env

      - name: Build and push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ghcr.io/${{ env.IMAGE_NAME }}/frontend:latest

  deploy-to-vps:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            cd /root

            docker-compose pull
            
            docker-compose up -d